<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="pageBox">
        <div class="logBox" *ngIf="isCrear || isEditar">
            <div class="formBox">
                <form [formGroup]="registroNotificacion">
                    <div class="formInput">
                        <label for="">NOMBRE DE LA NOTIFICACIÓN</label>
                        <input class="lInput" type="text" formControlName="nombre" name="" />
                    </div>
                    <div class="errorTag" *ngIf="fNotificacion.nombre.errors?.required && (fNotificacion.nombre.touched || fNotificacion.nombre.dirty)">Este campo es requerido</div>
                    <div class="formContent">
                        <div class="formDescripcion">
                            <textarea rows="6" type="text" formControlName="descripcion" name=""></textarea>
                        </div>
                     <div class="errorTag" *ngIf="fNotificacion.descripcion.errors?.required && (fNotificacion.descripcion.touched || fNotificacion.descripcion.dirty)">Este campo es requerido</div>
            
                        <button type="button" class="formButton" *ngIf="isCrear" (click)="endRegistro()">
              <p>CREAR</p>
            </button>
                        <button type="button" class="formButton" *ngIf="isEditar" (click)="endRegistro()">
              <p>EDITAR</p>
            </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="logBox" *ngIf="isListar">
            <form [formGroup]="buscarNotificacion">
                <div class="formContent">
                    <div class="formInput">
                        <label style="width: 60%; white-space: normal" for="">NOMBRE DE LA NOTIFICACIÓN</label>
                        <input class="lInput" type="text" formControlName="nombre" name="" />
                    </div>

                    <button type="button" class="formButton" (click)="filtrarNotificacion()">
            <p>FILTRAR</p>
          </button>
                </div>
            </form>
            <div class="listBox">
                <div class="titleRow">
                    <p style="width: 108px;">ID</p>
                    <p style="width: 200px;">NOMBRE NOTIFICACIÓN</p>
                    <p style="width: 250px;">ACCIONES</p>
                </div>
                <div class="contentRow" *ngFor="let notificacion of notificaciones">
                    <div style="width: 108px;">
                        <p>{{notificacion.id}}</p>
                    </div>
                    <div style="width: 200px;">
                        <p>{{notificacion.nombre}}</p>
                    </div>
                    <div style="width: 250px;" class="actionBox">
                        <button style="background-color: orange" type="button" class="actionButton" (click)="editarNotificacion($event, notificacion)">
                            <p>EDITAR</p>
                        </button>
                        <button style="background-color: red" type="button" class="actionButton" (click)="eliminarNotificacion($event, notificacion)">
                            <p>ELIMINAR</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>