<div class="theRatingBox" *ngIf="isFixed">
    <img src="assets/9-resultado busqueda/amarilla.png" *ngFor="let star of filledStars" alt="" />
    <img src="assets/9-resultado busqueda/naranja.png" *ngFor="let star of emptyStars" alt="" />
</div>

<div class="selectRating" *ngIf="!isFixed">

<div class="theRatingBox" *ngIf="!isFixed">
    <img src="assets/9-resultado busqueda/amarilla.png" *ngFor="let star of filledStars; let i=index" alt=""  (click)="selectStars($event, i, 0)"/>
    <img src="assets/9-resultado busqueda/naranja.png" *ngFor="let star of emptyStars; let i=index" alt="" (click)="selectStars($event, i, 1)" />
</div>

<button style="background-color: #F24E2B;" type="button" class="actionButton" (click)="enviarRating()" *ngIf="!isFixed">
    <p>ENVIAR</p>
</button>
</div>