<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="pageBox">
        <div class="logBox" *ngIf="isCrear"></div>
        <div class="logBox" *ngIf="isListar">
            <form [formGroup]="buscarUsuario">
                <div class="formContent">
                    <div class="formInput">
                        <label for="">NOMBRE</label>
                        <input class="lInput" type="text" formControlName="nombre" name="" />
                    </div>
                    <div class="formInput">
                        <label for="">APELLIDO</label>
                        <input class="lInput" type="text" formControlName="nombre" name="" />
                    </div>
                    <div class="formInput">
                        <label for="">CORREO</label>
                        <input class="lInput" type="text" formControlName="nombre" name="" />
                    </div>

                    <button type="button" class="formButton" (click)="filtrarUsuario()">
            <p>FILTRAR</p>
          </button>
                </div>
            </form>
            <div class="listBox">
                <div class="titleRow">
                    <p style="width: 108px;">ID</p>
                    <p style="width: 200px;">NOMBRE</p>
                    <p style="width: 200px;">APELLIDO</p>
                    <p style="width: 200px;">CORREO</p>
                    <p style="width: 200px;">TELÉFONO</p>
                    <p style="width: 150px;">ACCIÓN</p>
                </div>
                <div class="contentRow "></div>
            </div>
        </div>
    </div>
</ion-content>