<ion-header [translucent]="true">
    <app-header [title]="selectedTitle"></app-header>
</ion-header>

<ion-content>
    <div class="modBox">
        <div class="logBox">
            <div class="listaFilter">
                <img class="pageImg" src="assets/7-listado de artistas/listado.png" alt="musica">
                <form [formGroup]="buscarArtista">
                  <div class="formContent">
                    <div class="formInput">
                      <label for="">Nombre</label>
                      <input
                        class="lInput"
                        type="text"
                        formControlName="nombre"
                        name=""
                        (click)="disableNombre()"
                      />
                    </div>
                    <div class="formInput">
                      <label for="">Apellido</label>
                      <input
                        class="lInput"
                        type="text"
                        formControlName="apellido"
                        name=""
                        (click)="disableApellido()"
                      />
                    </div>
                    <div class="formInput">
                      <label for="">Correo</label>
                      <input
                        class="lInput"
                        type="text"
                        formControlName="correo"
                        name=""
                        (click)="disableCorreo()"
                      />
                    </div>
  
                    <button type="button" class="formButton" (click)="filtrarArtista()">
                      <p>FILTRAR</p>
                    </button>
                  </div>
                </form>
            </div>
            <div class="listBox">
              <div class="titleRow">
                
                <p>ID</p>
                <p>NOMBRE</p>
                <p>APELLIDO</p>
                <p>CORREO</p>
                <p>TELEFONO</p>
                <p style="width: 250px;">ACCION</p>
              </div>
              <div class="contentRow" *ngFor="let artista of artistas;let i = index">
                <div>
                  <p>{{artista.id}}</p>
                </div>
                <div>
                  <p>{{artista.nombre}}</p>
                </div>
                <div>
                  <p>{{artista.apellido}}</p>
                </div>
                <div>
                  <p>{{artista.correo}}</p>
                </div>
                <div>
                  <p>{{artista.telefono}}</p>
                </div>
                <div style="width: 250px;"  class="actionBox">
                  <button
                    style="background-color: orange"
                    type="button"
                    class="actionButton"
                    (click)="editarElemento(artista.id)"
                  >
                    <p>EDITAR</p>
                  </button>
                  <button *ngIf="artista.estado == null || artista.estado == 2"
                    style="background-color: green"
                    type="button"
                    class="actionButton"
                    (click)="estado(artista.id,1)"
                    >
                    <p>HABILITAR</p>
                  </button>
                  <button *ngIf="artista.estado == 1"
                    style="background-color: red"
                    type="button"
                    class="actionButton"
                    (click)="estado(artista.id,2)"
                  >
                    <p>DESHABILITAR</p>
                  </button>
                </div>
                
              </div>
            </div>
          </div>
        </div>
</ion-content>