<ion-header [translucent]="true">
<!--     <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
            <img class="toolbarLogo" src="assets/MENU/LOGOPIMU.png" alt="" />
    </ion-toolbar> -->
    <app-header></app-header>
</ion-header>

<ion-content>
    <div class="pageBox">
        <div class="logBox" *ngIf="isUser">
            <div class="titleBox">
                Configuración de mi Perfil
            </div>
            <div class="formBox">
                <form [formGroup]="actualizarUser">
                    <div class="formContent">
                        <div class="formInput">
                            <label for="">Nombre</label>
                            <input class="lInput" type="text" formControlName="nombre" name="nombre" />
                        </div>
                        <div class="errorTag" *ngIf="fUser.nombre.errors?.required && (fUser.nombre.touched || fUser.nombre.dirty)">Este campo es requerido</div>
                        <div class="formInput">
                            <label for="">Apellido</label>
                            <input class="lInput" type="text" formControlName="apellido" name="apellido" />
                        </div>
                        <div class="errorTag" *ngIf="fUser.apellido.errors?.required && (fUser.apellido.touched || fUser.apellido.dirty)">Este campo es requerido</div>
                        <div class="formInput">
                            <label for="">Teléfono</label>
                            <input class="lInput" type="text" formControlName="tlf" name="tlf" />
                        </div>
                        <div class="errorTag" *ngIf="fUser.tlf.errors?.required && (fUser.tlf.touched || fUser.tlf.dirty)">Este campo es requerido</div>
                        <div class="formInput">
                            <label for="">Correo</label>
                            <input class="lInput" type="text" formControlName="correo" name="correo" />
                        </div>
                        <div class="errorTag" *ngIf="fUser.correo.errors?.required && (fUser.correo.touched || fUser.correo.dirty)">Este campo es requerido</div>
                        <div class="errorTag" *ngIf="fUser.correo.errors?.email && (fUser.correo.touched || fUser.correo.dirty)">Por favor ingrese un correo válido</div>
                        <div class="formInput">
                            <label for="">Contraseña</label>
                            <input class="lInput" type="password" formControlName="password" name="password" />
                        </div>
                        <div class="errorTag" *ngIf="fUser.password.errors?.required && (fUser.password.touched || fUser.password.dirty)">Este campo es requerido</div>
                        <div class="errorTag" *ngIf="fUser.password.errors?.minlenght && (fUser.password.touched || fUser.password.dirty)">La contraseña debe contener al menos 6 carácteres</div>

                        <button type="button" class="formButton" (click)="endActualizacion()">
              <p>Actualizar</p>
            </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="logBox" *ngIf="isMusico">
                    <div class="backBox">
                <img src="assets/DETALLES ARTISTA/VOLVERLISTA.png" alt="" (click)="volverInfoArtista()" *ngIf="isSolista || isDuo || isInfo"/>
            </div>
            <div class="titleBox">
                Configuración de mi Perfil
            </div>
            <div class="formBox">
                <form *ngIf="isSolista" [formGroup]="actualizarSolista">
                    <div class="formContent">
                        <div class="formInput">
                            <label for="">Nombre real</label>
                            <input class="lInput" type="text" formControlName="nombreReal" name="" />
                        </div>
                        <div class="errorTag" *ngIf="fSolista.nombreReal.errors?.required && (fSolista.nombreReal.touched || fSolista.nombreReal.dirty)">Este campo es requerido</div>
                        <div class="formInput">
                            <label for="">Nombre artístico</label>
                            <input class="lInput" type="text" formControlName="nombreArtistico" name="" />
                        </div>
                        <div class="errorTag" *ngIf="fSolista.nombreArtistico.errors?.required && (fSolista.nombreArtistico.touched || fSolista.nombreArtistico.dirty)">Este campo es requerido</div>
                        <div class="formInput">
                            <label for="">Ciudad de origen</label>
                            <input class="lInput" type="text" formControlName="ciudadOrigen" name="" />
                        </div>
                        <div class="errorTag" *ngIf="fSolista.ciudadOrigen.errors?.required && (fSolista.ciudadOrigen.touched || fSolista.ciudadOrigen.dirty)">Este campo es requerido</div>
                        <div class="formInput">
                            <label for="">¿Esta dispuesto a salir
                                de la ciudad?</label>
                            <select class="lInput" name="" formControlName="salir">
                            <option selected="true">Sí</option>
                            <option>No</option>
                          </select>
                        </div>
                        <div class="formInput">
                            <label for="">¿Tiene representante?</label>
                            <select class="lInput" name="" formControlName="tieneRepresentante">
                          <option selected="true">Sí</option>
                          <option>No</option>
                        </select>
                        </div>
                        <div class="formInput">
                            <label for="">Nombre Representante</label>
                            <input class="lInput" type="text" formControlName="nombreRepresentante" name="" />
                        </div>
                        <div class="errorTag" *ngIf="fSolista.nombreRepresentante.errors?.required && (fSolista.nombreRepresentante.touched || fSolista.nombreRepresentante.dirty)">Este campo es requerido</div>
                        <div class="formInput">
                            <label for="">Telefono:</label>
                            <input class="lInput" type="text" formControlName="telefono" name="" />
                        </div>
                        <div class="errorTag" *ngIf="fSolista.telefono.errors?.required && (fSolista.telefono.touched || fSolista.telefono.dirty)">Este campo es requerido</div>
                        <div class="formInput">
                            <label for="">Correo:</label>
                            <input class="lInput" type="text" formControlName="correo" name="" />
                        </div>
                        <div class="errorTag" *ngIf="fSolista.correo.errors?.required && (fSolista.correo.touched || fSolista.correo.dirty)">Este campo es requerido</div>
                        <div class="errorTag" *ngIf="fSolista.correo.errors?.email && (fSolista.correo.touched || fSolista.correo.dirty)">Por favor ingrese un correo válido</div>
                        <div class="formDescripcion">
                            <label for="">Descripción</label>
                            <textarea rows="6" type="text" formControlName="descripcion" name=""></textarea>
                        </div>
                        <div class="errorTag" *ngIf="fSolista.descripcion.errors?.required && (fSolista.descripcion.touched || fSolista.descripcion.dirty)">Este campo es requerido</div>
                        <div class="formInput">
                            <label for="">Pagina Web</label>
                            <input class="lInput" type="text" formControlName="paginaWeb" name="" />
                        </div>
                        <div class="errorTag" *ngIf="fSolista.paginaWeb.errors?.required && (fSolista.paginaWeb.touched || fSolista.paginaWeb.dirty)">Este campo es requerido</div>
                    </div>

                    <button type="button" class="formButton" (click)="toggleInfo()">
                            <p>Siguiente</p>
                        </button>
                </form>

                <form *ngIf="isDuo" [formGroup]="actualizarDuo">
                        <div class="formContent">
                                <div class="formInput">
                                    <label for="">Nombre Artístico</label>
                                    <input class="lInput" type="text" formControlName="nombreArtistico" name="" />
                                </div>
                            <div class="errorTag" *ngIf="fDuo.nombreArtistico.errors?.required && (fDuo.nombreArtistico.touched || fDuo.nombreArtistico.dirty)">Este campo es requerido</div>
                                <div class="formInput">
                                    <label for="">Ciudad de Origen</label>
                                    <input class="lInput" type="text" formControlName="ciudadOrigen" name="" />
                                </div>
                            <div class="errorTag" *ngIf="fDuo.ciudadOrigen.errors?.required && (fDuo.ciudadOrigen.touched || fDuo.ciudadOrigen.dirty)">Este campo es requerido</div>
                                <div class="formInput">
                                    <label for="">¿Esta dispuesto a salir
                                            de la ciudad?</label>
                                    <select class="lInput" name="" formControlName="salir">
                                    <option selected="true">Sí</option>
                                    <option>No</option>
                                </select>
                                </div>
                                <div class="formInput">
                                    <label for="">¿Tiene representante?</label>
                                    <select class="lInput" name="" formControlName="tieneRepresentante">
                                <option selected="true">Sí</option>
                                <option>No</option>
                                </select>
                                </div>
                                <div class="formInput">
                                    <label for="">Nombre Representante</label>
                                    <input class="lInput" type="text" formControlName="nombreRepresentante" name="" />
                                </div>
                            <div class="errorTag" *ngIf="fDuo.nombreRepresentante.errors?.required && (fDuo.nombreRepresentante.touched || fDuo.nombreRepresentante.dirty)">Este campo es requerido</div>
                                <div class="formInput">
                                    <label for="">Teléfono</label>
                                    <input class="lInput" type="text" formControlName="telefono" name="" />
                                </div>
                            <div class="errorTag" *ngIf="fDuo.telefono.errors?.required && (fDuo.telefono.touched || fDuo.telefono.dirty)">Este campo es requerido</div>
                                <div class="formInput">
                                    <label for="">Correo</label>
                                    <input class="lInput" type="text" formControlName="correo" name="" />
                                </div>
                            <div class="errorTag" *ngIf="fDuo.correo.errors?.required && (fDuo.correo.touched || fDuo.correo.dirty)">Este campo es requerido</div>
                            <div class="errorTag" *ngIf="fDuo.correo.errors?.email && (fDuo.correo.touched || fDuo.correo.dirty)">Por favor ingrese un correo válido</div>
                                <div class="formDescripcion">
                                    <label for="">Descripcion</label>
                                    <textarea rows="6" type="text" formControlName="descripcion" name=""></textarea>
                                </div>
                            <div class="errorTag" *ngIf="fDuo.descripcion.errors?.required && (fDuo.descripcion.touched || fDuo.descripcion.dirty)">Este campo es requerido</div>
                                <div class="formInput">
                                    <label for="">Página Web</label>
                                    <input class="lInput" type="text" formControlName="paginaWeb" name="" />
                                </div>
                            <div class="errorTag" *ngIf="fDuo.paginaWeb.errors?.required && (fDuo.paginaWeb.touched || fDuo.paginaWeb.dirty)">Este campo es requerido</div>
                                <button type="button" class="formButton" (click)="toggleInfo()">
                                        <p>Siguiente</p>
                                    </button>                        
                            </div>
                </form>

                <form *ngIf="isOrquesta" [formGroup]="actualizarOrquesta">
                    <div class="formContent">
                        <div class="formInput">
                            <label for="">Nombre Artístico</label>
                            <input class="lInput" type="text" formControlName="nombreArtistico" name="" />
                        </div>
                        <div class="errorTag" *ngIf="fOrquesta.nombreArtistico.errors?.required && (fOrquesta.nombreArtistico.touched || fOrquesta.nombreArtistico.dirty)">Este campo es requerido</div>
                        <div class="formInput">
                            <label for="">Número de integrantes</label>
                            <input class="lInput" type="number" formControlName="numeroIntegrantes" name="" />
                        </div>
                        <div class="errorTag" *ngIf="fOrquesta.numeroIntegrantes.errors?.required && (fOrquesta.numeroIntegrantes.touched || fOrquesta.numeroIntegrantes.dirty)">Este campo es requerido</div>
                        <div class="formInput">
                            <label for="">Ciudad de Origen</label>
                            <input class="lInput" type="text" formControlName="ciudadOrigen" name="" />
                        </div>
                            <div class="errorTag" *ngIf="fOrquesta.ciudadOrigen.errors?.required && (fOrquesta.ciudadOrigen.touched || fOrquesta.ciudadOrigen.dirty)">Este campo es requerido</div>
                        <div class="formInput">
                            <label for="">¿Esta dispuesto a salir
                                    de la ciudad?</label>
                            <select class="lInput" name="" formControlName="salir">
                            <option selected="true">Sí</option>
                            <option>No</option>
                        </select>
                        </div>
                        <div class="formInput">
                            <label for="">¿Tiene representante?</label>
                            <select class="lInput" name="" formControlName="tieneRepresentante">
                        <option selected="true">Sí</option>
                        <option>No</option>
                        </select>
                        </div>
                        <div class="formInput">
                            <label for="">Nombre Representante</label>
                            <input class="lInput" type="text" formControlName="nombreRepresentante" name="" />
                        </div>
                            <div class="errorTag" *ngIf="fOrquesta.nombreRepresentante.errors?.required && (fOrquesta.nombreRepresentante.touched || fOrquesta.nombreRepresentante.dirty)">Este campo es requerido</div>
                        <div class="formInput">
                            <label for="">Teléfono</label>
                            <input class="lInput" type="text" formControlName="telefono" name="" />
                        </div>
                            <div class="errorTag" *ngIf="fOrquesta.telefono.errors?.required && (fOrquesta.telefono.touched || fOrquesta.telefono.dirty)">Este campo es requerido</div>
                        <div class="formInput">
                            <label for="">Correo</label>
                            <input class="lInput" type="text" formControlName="correo" name="" />
                        </div>
                            <div class="errorTag" *ngIf="fOrquesta.correo.errors?.required && (fOrquesta.correo.touched || fOrquesta.correo.dirty)">Este campo es requerido</div>
                            <div class="errorTag" *ngIf="fOrquesta.correo.errors?.email && (fOrquesta.correo.touched || fOrquesta.correo.dirty)">Por favor ingrese un correo válido</div>
                        <div class="formDescripcion">
                            <label for="">Descripcion</label>
                            <textarea rows="6" type="text" formControlName="descripcion" name=""></textarea>
                        </div>
                            <div class="errorTag" *ngIf="fOrquesta.descripcion.errors?.required && (fOrquesta.descripcion.touched || fOrquesta.descripcion.dirty)">Este campo es requerido</div>
                        <div class="formInput">
                            <label for="">Página Web</label>
                            <input class="lInput" type="text" formControlName="paginaWeb" name="" />
                        </div>
                            <div class="errorTag" *ngIf="fOrquesta.paginaWeb.errors?.required && (fOrquesta.paginaWeb.touched || fOrquesta.paginaWeb.dirty)">Este campo es requerido</div>
                        <button type="button" class="formButton" (click)="toggleInfo()">
                                <p>Siguiente</p>
                            </button>                        
                    </div>
                </form>

                <form id="info" *ngIf="isInfo" [formGroup]="actualizarInfo">
                    <div class="formContent">
                        <div class="formInput">
                            <label for="">Estilos de música</label>
                            <select class="lInput" name="" formControlName="generos">
                                    <option *ngFor="let genero of generos">{{genero}}</option>
                                    </select>
                                </div>
              
                                <div class="linksBox">
                                    <p class="linkTitle">Agregar link de música</p>
                                    <div class="linksList">
                                        <div class="linkListTitle">
                                                Agregar link de música de Soundcloud <span class="addLink" (click)="addSoundcloud()">+</span>
                                        </div>
                                        <div class="arrayBox" *ngFor="let sound of soundLinks.controls;">
                                            <ng-container class="controlBox" [formGroup]="sound">
                                                <div class="formInput">
                                                    <label for="">Nombre de Canción</label>
                                                    <input class="lInput" type="text" formControlName="nombre" name="" />
                                                </div>
                                                <div class="formInput">
                                                    <label for="">Link de Canción</label>
                                                    <input class="lInput" type="text" formControlName="link" name="" />
                                                </div>
                                            </ng-container>
                                        </div>
                <!--                         <div class="formInput">
                                                <label for="">Nombre de Canción</label>
                                                <input class="lInput" type="text" formControlName="soundNombres" name="" />
                                            </div>
                                            <div class="formInput">
                                                <label for="">Link de Canción</label>
                                                <input class="lInput" type="text" formControlName="soundLinks" name="" />
                                            </div>
                 -->        
                                    </div>
                                    <div class="linksList">
                                        <div class="linkListTitle">
                                                Agregar link de música de Youtube <span class="addLink" (click)="addYoutube()">+</span>
                                        </div>
                                        <div class="arrayBox" *ngFor="let you of youLinks.controls;">
                                            <ng-container class="controlBox" [formGroup]="you">
                                                <div class="formInput">
                                                    <label for="">Nombre de Canción</label>
                                                    <input class="lInput" type="text" formControlName="nombre" name="" />
                                                </div>
                                                <div class="formInput">
                                                    <label for="">Link de Canción</label>
                                                    <input class="lInput" type="text" formControlName="link" name="" />
                                                </div>
                                            </ng-container>
                                        </div>
                
                
                <!--                         <div class="formInput">
                                                <label for="">Nombre de Canción</label>
                                                <input class="lInput" type="text" formControlName="youNombres" name="" />
                                            </div>
                                            <div class="formInput">
                                                <label for="">Link de Canción</label>
                                                <input class="lInput" type="text" formControlName="youLinks" name="" />
                                            </div> -->
                                    </div>
                                </div>
                        <button type="button" class="formButton" (click)="endActualizacion()">
                                    <p>Actualizar</p>
                                </button>
                            </div>
                </form>


            </div>
        </div>
    </div>
</ion-content>