<ion-header [translucent]="true">
<!--     <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
            <img class="toolbarLogo" src="assets/MENU/LOGOPIMU.png" alt="" />
    </ion-toolbar> -->
    <app-header></app-header>
</ion-header>

<ion-content>
    <div class="pageBox">
        <div class="logBox">
            <div class="titleBox">
                Configuración de mi Perfil
            </div>
            <div class="formBox">
                <form [formGroup]="actualizarUser">
                    <div class="formContent">
                        <div class="formInput">
                            <label for="">Nombre</label>
                            <input class="lInput" type="text" formControlName="nombre" name="nombre" />
                        </div>
                        <div class="formInput">
                            <label for="">Apellido</label>
                            <input class="lInput" type="text" formControlName="apellido" name="apellido" />
                        </div>
                        <div class="formInput">
                            <label for="">Teléfono</label>
                            <input class="lInput" type="text" formControlName="tlf" name="tlf" />
                        </div>
                        <div class="formInput">
                            <label for="">Correo</label>
                            <input class="lInput" type="text" formControlName="correo" name="correo" />
                        </div>
                        <div class="formInput">
                            <label for="">Contraseña</label>
                            <input class="lInput" type="password" formControlName="password" name="password" />
                        </div>

                        <button type="button" class="formButton" (click)="endActualizacion()">
              <p>Actualizar</p>
            </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ion-content>