<p *ngIf="editMode" class="titleText">
    Por favor llene el siguiente formulario:
</p>
<div class="alert alert-success" *ngIf="status == 'success'">
    El registro se ha completado correctamente <a [routerLink]="['/']">Iniciar Sesion</a> 
</div> 
<div class="alert alert-danger" *ngIf="status == 'error'">
    Error vuelva a completar el registro  
</div> 
<form [formGroup]="registroUser">
    <div class="formContent">
        <div class="formInput">
            <label for="">Nombre</label>
            <input class="lInput" type="text" formControlName="nombre" name="nombre" />
        </div>
        <div class="errorTag" *ngIf="fUser.nombre.errors?.required && (fUser.nombre.touched || fUser.nombre.dirty)">Este campo es requerido</div>
        <div class="formInput">
            <label for="">Apellido</label>
            <input class="lInput" type="text" formControlName="apellido" name="apellido" />
        </div>
        <div class="errorTag" *ngIf="fUser.apellido.errors?.required && (fUser.apellido.touched || fUser.apellido.dirty)">Este campo es requerido</div>
        <div class="formInput">
            <label for="">Teléfono</label>
            <input class="lInput" type="text" formControlName="telefono" name="tlf" />
        </div>
        <div class="errorTag" *ngIf="fUser.telefono.errors?.required && (fUser.telefono.touched || fUser.telefono.dirty)">Este campo es requerido</div>
        <div class="formInput">
            <label for="">Correo</label>
            <input class="lInput" type="text" formControlName="correo" name="correo" />
        </div>
        <div class="errorTag" *ngIf="fUser.correo.errors?.required && (fUser.correo.touched || fUser.correo.dirty)">Este campo es requerido</div>
        <div class="errorTag" *ngIf="fUser.correo.errors?.email && (fUser.correo.touched || fUser.correo.dirty)">Por favor ingrese un correo válido</div>
        <div class="formInput" *ngIf="!editMode">
            <label for="">Contraseña</label>
            <input class="lInput" type="password" formControlName="password" name="password" />
        </div>
        <div class="errorTag" *ngIf="fUser.password.errors?.required && (fUser.password.touched || fUser.password.dirty)">Este campo es requerido</div>
        <div class="errorTag" *ngIf="fUser.password.errors?.minlenght && (fUser.password.touched || fUser.password.dirty)">La contraseña debe contener al menos 6 carácteres</div>

        <div class="formTerminos" *ngIf="!editMode">
            <label class="checkContainer">
            Estoy de acuerdo con los términos y condiciones
            <input
                type="checkbox"
                formControlName="aceptarTerminos"
            />
            <span class="checkmark"></span>
            </label>
            <p (click)="verMas()">Ver más</p>
            <br><br>
        </div>

        <button *ngIf="!editMode" type="submit" class="formButton" (click)="endRegistro()">
            <p>Crear</p>
        </button>

        <div *ngIf="!editMode" class="regisBox">
            <img src="assets/4-registro/gmail.png" alt="gmail" (click)="regisGmail()" />
        </div>
        <div *ngIf="!editMode" class="regisBox">
            <img src="assets/4-registro/facebook.png" alt="facebook" (click)="regisFacebook()" />
        </div>

        <button *ngIf="editMode" type="submit" class="formButton" (click)="endUpdate()">
            <p>Actualizar perfil</p>
        </button>
    </div>
</form>