<ion-header [translucent]="true">
<!--     <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
            <img class="toolbarLogo" src="assets/MENU/LOGOPIMU.png" alt="" />
    </ion-toolbar> -->
    <app-header></app-header>
</ion-header>

<ion-content>
    <div class="pageBox">
        <div class="logBox" *ngIf="isBuscar">
            <div class="formBox">
                <form [formGroup]="buscarArtista">
                    <div class="formContent">
                        <div class="formInput" style="flex-wrap:nowrap;">
                            <label for="">Género Musical</label>
                            <select class="lInput" name="" formControlName="genero">
                <option *ngFor="let genero of generos">{{genero}}</option>
              </select>
                        </div>
                        <div class="formInput">
                            <label for="">Nombre del Artista o de la Orquesta</label>
                            <input class="lInput" type="text" formControlName="nombre" name="" />
                        </div>
                    </div>
                </form>
            </div>
            <button type="button" class="formButton" (click)="endBuscador()">
        <p>BUSCAR</p>
      </button>
        </div>
        <div class="logBox" *ngIf="isResultados">
            <div class="cardBox" *ngFor="let artista of artistas">
                <div class="imgBox"></div>
                <div class="infoBox">
                    <p>NOMBRE AGRUPACIÓN</p>
                    <p>{{artista.nombre}}</p>
                    <p>CATEGORÍAS</p>
                    <p>{{artista.categorias}}</p>
                </div>
                <div class="moreBox">
                    <button type="button" class="formButton" (click)="verArtista($event, artista)">
            <p>VER MÁS</p>
          </button>
                    <app-rating [rating]="artista.rating"> </app-rating>
                </div>
            </div>
        </div>
        <div class="logBox" *ngIf="isVer">
            <div class="backBox">
                <img src="assets/DETALLES ARTISTA/VOLVERLISTA.png" alt="" (click)="volverLista()" />
            </div>
            <div class="imgList">
                <img class="imgArrow" src="assets/DETALLES ARTISTA/FLECHAIZQ.png" alt="" />
                <img class="artistaImg" src="" alt="" />
                <img class="imgArrow" src="assets/DETALLES ARTISTA/FECHADER.png" alt="" />
            </div>
            <div class="verBox">
                <div class="starsBox">
                    <app-rating [rating]="artistaEscogido.rating"> </app-rating>
                </div>
                <div class="detailsBox">
                    <p>NOMBRE AGRUPACIÓN</p>
                    <p>{{artistaEscogido.nombre}}</p>
                    <p>CATEGORÍAS</p>
                    <p>{{artistaEscogido.categorias}}</p>
                    <p>CIUDAD DE ORIGEN: {{artistaEscogido.ciudad}}</p>
                    <p>DESCRIPCIÓN</p>
                    <p>{{artistaEscogido.descripcion}}</p>
                    <p>INTEGRANTES: {{artistaEscogido.integrantes}}</p>
                    <p>SALEN DE LA CIUDAD: {{artistaEscogido.salen}}</p>
                    <p>REPRESENTANTE: {{artistaEscogido.representante}}</p>
                    <p>TELÉFONO: {{artistaEscogido.telefono}}</p>
                    <p>CORREO: {{artistaEscogido.correo}}</p>
                </div>
                <div class="linksBox">
                    <p class="linkTitle">LINKS DE MÚSICA</p>
                    <div class="linksList">
                        <div class="linkListTitle">
                            LINKS DE MÚSICA DE SOUNDCLOUD
                        </div>
                        <p class="linkName" *ngFor="let cancion of artistaEscogido.soundCanciones">
                            {{cancion.nombre}}: {{cancion.link}}
                        </p>
                    </div>
                    <div class="linksList">
                        <div class="linkListTitle">
                            LINKS DE MÚSICA DE YOUTUBE
                        </div>
                        <p class="linkName" *ngFor="let cancion of artistaEscogido.youCanciones">
                            {{cancion.nombre}}: {{cancion.link}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="ratingBox">
                <p>CALIFICA QUE TE PARECIÓ:</p>
                <div class="starsBox">
                    <app-rating [rating]="-1"> </app-rating>
                </div>
            </div>
        </div>
    </div>
</ion-content>