      <div class="listBox">
        <div class="titleRow">
          <p *ngFor="let field of fields">{{field}}</p>
          <p style="width: 250px;">ACCIÓN</p>
        </div>
        <div class="contentRow" *ngFor="let value of values; let i = index">
          <div *ngFor="let item of value">
            <p>{{ item }}</p>
          </div>
          <div style="width: 250px;" *ngIf="isHabilitar" class="actionBox">
            <button
              style="background-color: orange"
              type="button"
              class="actionButton"
              (click)="editarElemento($event, i)"
            >
              <p>EDITAR</p>
            </button>
            <button
              style="background-color: green"
              type="button"
              class="actionButton"
              (click)="habilitarElemento($event, i, 1)"
            >
              <p>HABILITAR</p>
            </button>
            <button
              style="background-color: red"
              type="button"
              class="actionButton"
              (click)="habilitarElemento($event, i, 0)"
            >
              <p>DESHABILITAR</p>
            </button>
          </div>
          <div style="width: 250px;" *ngIf="!isHabilitar"class="actionBox">
            <button style="background-color: orange" type="button" class="actionButton" (click)="editarElemento($event, i)">
                <p>EDITAR</p>
            </button>
            <button style="background-color: red" type="button" class="actionButton" (click)="eliminarElemento($event, i)">
                <p>ELIMINAR</p>
            </button>
          </div>
        </div>
      </div>