<ion-header [translucent]="true">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>{{title}}</ion-title>
        </ion-toolbar>
    </ion-header>
    
    <ion-content>
    <div class="pageBox">
        <div class="selectionBox" *ngIf="!isMusico">
            <div class="optionsBox" [ngClass]="hideOption">
                <div class="logoBox">
                    <img class="formImg" src="assets/REGISTRO/LOGOREGIS.png" alt="Logo" />
                </div>
                <p><b>¿Cómo te quieres registrar?</b></p>
               <div class="iconsBox">
                    <div class="iconBox">
                        <img class="iconImg" [src]="musicoImg" alt="Logo" (click)="firstToggle($event, 'musico')" />
                        <p>Musico</p>
                    </div>
                    <div class="iconBox">
                        <img class="iconImg" [src]="userImg" alt="Logo" (click)="firstToggle($event, 'usuario')" />
                        <p>Usuario</p>
                    </div>
                </div>
                <div class="regisBox">
                    <img src="assets/REGISTRO/REGISGMAIL.png" alt="gmail" (click)="regisGmail()" />
                </div>
                <div class="regisBox">
                    <img src="assets/REGISTRO/REGISFACEBOOK.png" alt="facebook" (click)="regisFacebook()" />
                </div>
            </div>
        </div>
        <div class="selectionBox" *ngIf="isMusico">
            <div class="optionsBox" [ngClass]="hideOption">
                <div class="logoBox">
                    <img class="formImg" src="assets/REGISTRO/LOGOREGIS.png" alt="Logo" />
                </div>
                <div class="iconsBox">
                    <div class="iconBox">
                        <img class="iconImg" [src]="solistaImg" alt="Logo" (click)="toggleForm($event, 'solista')" />
                        <p>Musico/Cantante</p>
                    </div>
                    <div class="iconBox">
                        <img class="iconImg" [src]="duoImg" alt="Logo" (click)="toggleForm($event, 'duo')" />
                        <p>Dúo</p>
                    </div>
                    <div class="iconBox">
                        <img class="iconImg" [src]="orquestaImg" alt="Logo" (click)="toggleForm($event, 'orquesta')" />
                        <p>Orquesta</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 
        <div class="blackBox" [ngClass]="showBlack" (click)="closeForm()"></div> -->

        <div class="logBox" [ngClass]="showForm">
            <div class="formBox">
                <form *ngIf="isUser" [formGroup]="registroUser">
                    <div class="formContent">
                        <div class="formInput">
                            <label for="">Nombre</label>
                            <input class="lInput" type="text" formControlName="nombre" name="nombre" />
                        </div>
                        <div class="errorTag" *ngIf="fUser.nombre.errors?.required && (fUser.nombre.touched || fUser.nombre.dirty)">Este campo es requerido</div>
                        <div class="formInput">
                            <label for="">Apellido</label>
                            <input class="lInput" type="text" formControlName="apellido" name="apellido" />
                        </div>
                        <div class="errorTag" *ngIf="fUser.apellido.errors?.required && (fUser.apellido.touched || fUser.apellido.dirty)">Este campo es requerido</div>
                        <div class="formInput">
                            <label for="">Teléfono</label>
                            <input class="lInput" type="text" formControlName="tlf" name="tlf" />
                        </div>
                        <div class="errorTag" *ngIf="fUser.tlf.errors?.required && (fUser.tlf.touched || fUser.tlf.dirty)">Este campo es requerido</div>
                        <div class="formInput">
                            <label for="">Correo</label>
                            <input class="lInput" type="text" formControlName="correo" name="correo" />
                        </div>
                        <div class="errorTag" *ngIf="fUser.correo.errors?.required && (fUser.correo.touched || fUser.correo.dirty)">Este campo es requerido</div>
                        <div class="errorTag" *ngIf="fUser.correo.errors?.email && (fUser.correo.touched || fUser.correo.dirty)">Por favor ingrese un correo válido</div>
                        <div class="formInput">
                            <label for="">Contraseña</label>
                            <input class="lInput" type="password" formControlName="password" name="password" />
                        </div>
                        <div class="errorTag" *ngIf="fUser.password.errors?.required && (fUser.password.touched || fUser.password.dirty)">Este campo es requerido</div>
                        <div class="errorTag" *ngIf="fUser.password.errors?.minlenght && (fUser.password.touched || fUser.password.dirty)">La contraseña debe contener al menos 6 carácteres</div>

                <button type="button" class="formButton" *ngIf="isRegistrar" (click)="endRegistro()">
                        <p>Crear</p>
                    </button>
                <button type="button" class="formButton" *ngIf="isEditar" (click)="editarElemento()">
                        <p>Editar</p>
                    </button>
                    </div>
                </form>

                <form *ngIf="isSolista" [formGroup]="registroSolista">
                    <div class="formContent">
                        <div class="formInput">
                            <label for="">Nombre real</label>
                            <input class="lInput" type="text" formControlName="nombreReal" name="" />
                        </div>
                        <div class="errorTag" *ngIf="fSolista.nombreReal.errors?.required && (fSolista.nombreReal.touched || fSolista.nombreReal.dirty)">Este campo es requerido</div>

                        <div class="formInput">
                            <label for="">Nombre artístico</label>
                            <input class="lInput" type="text" formControlName="nombreArtistico" name="" />
                        </div>
                        <div class="errorTag" *ngIf="fSolista.nombreArtistico.errors?.required && (fSolista.nombreArtistico.touched || fSolista.nombreArtistico.dirty)">Este campo es requerido</div>

                        <div class="formInput">
                            <label for="">Ciudad de origen</label>
                            <input class="lInput" type="text" formControlName="ciudadOrigen" name="" />
                        </div>
                        <div class="errorTag" *ngIf="fSolista.ciudadOrigen.errors?.required && (fSolista.ciudadOrigen.touched || fSolista.ciudadOrigen.dirty)">Este campo es requerido</div>

                        <div class="formInput">
                            <label for="">¿Esta dispuesto a salir
                                de la ciudad?</label>
                            <select name="" formControlName="salir">
                            <option selected="true">Sí</option>
                            <option>No</option>
                          </select>
                        </div>
                        <div class="errorTag" *ngIf="fSolista.salir.errors?.required && (fSolista.salir.touched || fSolista.salir.dirty)">Este campo es requerido</div>

                        <div class="formInput">
                            <label for="">¿Tiene representante?</label>
                            <select name="" formControlName="tieneRepresentante">
                          <option selected="true">Sí</option>
                          <option>No</option>
                        </select>
                        </div>
                        <div class="errorTag" *ngIf="fSolista.tieneRepresentante.errors?.required && (fSolista.tieneRepresentante.touched || fSolista.tieneRepresentante.dirty)">Este campo es requerido</div>

                        <div class="formInput">
                            <label for="">Nombre Representante</label>
                            <input class="lInput" type="text" formControlName="nombreRepresentante" name="" />
                        </div>
                        <div class="errorTag" *ngIf="fSolista.nombreRepresentante.errors?.required && (fSolista.nombreRepresentante.touched || fSolista.nombreRepresentante.dirty)">Este campo es requerido</div>

                        <div class="formInput">
                            <label for="">Telefono:</label>
                            <input class="lInput" type="text" formControlName="telefono" name="" />
                        </div>
                        <div class="errorTag" *ngIf="fSolista.telefono.errors?.required && (fSolista.telefono.touched || fSolista.telefono.dirty)">Este campo es requerido</div>

                        <div class="formInput">
                            <label for="">Correo:</label>
                            <input class="lInput" type="text" formControlName="correo" name="" />
                        </div>
                        <div class="errorTag" *ngIf="fSolista.correo.errors?.required && (fSolista.correo.touched || fSolista.correo.dirty)">Este campo es requerido</div>
                        <div class="errorTag" *ngIf="fSolista.correo.errors?.email && (fSolista.correo.touched || fSolista.correo.dirty)">Por favor ingrese un correo válido</div>

                        <div class="formDescripcion">
                            <label for="">Descripción</label>
                            <textarea rows="6" type="text" formControlName="descripcion" name=""></textarea>
                        </div>
                        <div class="errorTag" *ngIf="fSolista.descripcion.errors?.required && (fSolista.descripcion.touched || fSolista.descripcion.dirty)">Este campo es requerido</div>

                        <div class="formInput">
                            <label for="">Pagina Web</label>
                            <input class="lInput" type="text" formControlName="paginaWeb" name="" />
                        </div>
                        <div class="errorTag" *ngIf="fSolista.paginaWeb.errors?.required && (fSolista.paginaWeb.touched || fSolista.paginaWeb.dirty)">Este campo es requerido</div>

                        <button type="button" class="formButton" (click)="toggleInfo()">
                            <p>Siguiente</p>
                        </button>
                    </div>
                </form>

                <form *ngIf="isDuo" [formGroup]="registroDuo">
                        <div class="formContent">
                            <div class="formInput">
                                <label for="">Nombre artístico</label>
                                <input class="lInput" type="text" formControlName="nombreArtistico" name="" />
                            </div>
                            <div class="errorTag" *ngIf="fDuo.nombreArtistico.errors?.required && (fDuo.nombreArtistico.touched || fDuo.nombreArtistico.dirty)">Este campo es requerido</div>

                            <div class="formInput">
                                <label for="">Ciudad de origen</label>
                                <input class="lInput" type="text" formControlName="ciudadOrigen" name="" />
                            </div>
                            <div class="errorTag" *ngIf="fDuo.ciudadOrigen.errors?.required && (fDuo.ciudadOrigen.touched || fDuo.ciudadOrigen.dirty)">Este campo es requerido</div>

                            <div class="formInput">
                                <label for="">¿Esta dispuesto a salir
                                    de la ciudad?</label>
                                <select name="" formControlName="salir">
                                <option selected="true">Sí</option>
                                <option>No</option>
                            </select>
                            </div>
                            <div class="errorTag" *ngIf="fDuo.salir.errors?.required && (fDuo.salir.touched || fDuo.salir.dirty)">Este campo es requerido</div>

                            <div class="formInput">
                                <label for="">¿Tiene representante?</label>
                                <select name="" formControlName="tieneRepresentante">
                            <option selected="true">Sí</option>
                            <option>No</option>
                            </select>
                            </div>
                            <div class="errorTag" *ngIf="fDuo.tieneRepresentante.errors?.required && (fDuo.tieneRepresentante.touched || fDuo.tieneRepresentante.dirty)">Este campo es requerido</div>

                            <div class="formInput">
                                <label for="">Nombre Representante</label>
                                <input class="lInput" type="text" formControlName="nombreRepresentante" name="" />
                            </div>
                            <div class="errorTag" *ngIf="fDuo.nombreRepresentante.errors?.required && (fDuo.nombreRepresentante.touched || fDuo.nombreRepresentante.dirty)">Este campo es requerido</div>

                            <div class="formInput">
                                <label for="">Telefono:</label>
                                <input class="lInput" type="text" formControlName="telefono" name="" />
                            </div>
                            <div class="errorTag" *ngIf="fDuo.telefono.errors?.required && (fDuo.telefono.touched || fDuo.telefono.dirty)">Este campo es requerido</div>

                            <div class="formInput">
                                <label for="">Correo:</label>
                                <input class="lInput" type="text" formControlName="correo" name="" />
                            </div>
                            <div class="errorTag" *ngIf="fDuo.correo.errors?.required && (fDuo.correo.touched || fDuo.correo.dirty)">Este campo es requerido</div>
                            <div class="errorTag" *ngIf="fDuo.correo.errors?.email && (fDuo.correo.touched || fDuo.correo.dirty)">Por favor ingrese un correo válido</div>

                            <div class="formDescripcion">
                                <label for="">Descripción</label>
                                <textarea rows="6" type="text" formControlName="descripcion" name=""></textarea>
                            </div>
                            <div class="errorTag" *ngIf="fDuo.descripcion.errors?.required && (fDuo.descripcion.touched || fDuo.descripcion.dirty)">Este campo es requerido</div>

                            <div class="formInput">
                                <label for="">Pagina Web</label>
                                <input class="lInput" type="text" formControlName="paginaWeb" name="" />
                            </div>
                            <div class="errorTag" *ngIf="fDuo.paginaWeb.errors?.required && (fDuo.paginaWeb.touched || fDuo.paginaWeb.dirty)">Este campo es requerido</div>
                            <button type="button" class="formButton" (click)="toggleInfo()">
                                <p>Siguiente</p>
                            </button>                        
                        </div>
                </form>

                <form *ngIf="isOrquesta" [formGroup]="registroOrquesta">
                    <div class="formContent">
                        <div class="formInput">
                            <label for="">Nombre Artístico</label>
                            <input class="lInput" type="text" formControlName="nombreArtistico" name="" />
                        </div>
                        <div class="errorTag" *ngIf="fOrquesta.nombreArtistico.errors?.required && (fOrquesta.nombreArtistico.touched || fOrquesta.nombreArtistico.dirty)">Este campo es requerido</div>

                        <div class="formInput">
                            <label for="">Número de integrantes</label>
                            <input class="lInput" type="number" formControlName="numeroIntegrantes" name="" />
                        </div>
                        <div class="errorTag" *ngIf="fOrquesta.numeroIntegrantes.errors?.required && (fOrquesta.numeroIntegrantes.touched || fOrquesta.numeroIntegrantes.dirty)">Este campo es requerido</div>

                            <div class="formInput">
                                <label for="">Ciudad de origen</label>
                                <input class="lInput" type="text" formControlName="ciudadOrigen" name="" />
                            </div>
                            <div class="errorTag" *ngIf="fOrquesta.ciudadOrigen.errors?.required && (fOrquesta.ciudadOrigen.touched || fOrquesta.ciudadOrigen.dirty)">Este campo es requerido</div>

                            <div class="formInput">
                                <label for="">¿Esta dispuesto a salir
                                    de la ciudad?</label>
                                <select name="" formControlName="salir">
                                <option selected="true">Sí</option>
                                <option>No</option>
                            </select>
                            </div>
                            <div class="errorTag" *ngIf="fOrquesta.salir.errors?.required && (fOrquesta.salir.touched || fOrquesta.salir.dirty)">Este campo es requerido</div>

                            <div class="formInput">
                                <label for="">¿Tiene representante?</label>
                                <select name="" formControlName="tieneRepresentante">
                            <option selected="true">Sí</option>
                            <option>No</option>
                            </select>
                            </div>
                            <div class="errorTag" *ngIf="fOrquesta.tieneRepresentante.errors?.required && (fOrquesta.tieneRepresentante.touched || fOrquesta.tieneRepresentante.dirty)">Este campo es requerido</div>

                            <div class="formInput">
                                <label for="">Nombre Representante</label>
                                <input class="lInput" type="text" formControlName="nombreRepresentante" name="" />
                            </div>
                            <div class="errorTag" *ngIf="fOrquesta.nombreRepresentante.errors?.required && (fOrquesta.nombreRepresentante.touched || fOrquesta.nombreRepresentante.dirty)">Este campo es requerido</div>

                            <div class="formInput">
                                <label for="">Telefono:</label>
                                <input class="lInput" type="text" formControlName="telefono" name="" />
                            </div>
                            <div class="errorTag" *ngIf="fOrquesta.telefono.errors?.required && (fOrquesta.telefono.touched || fOrquesta.telefono.dirty)">Este campo es requerido</div>

                            <div class="formInput">
                                <label for="">Correo:</label>
                                <input class="lInput" type="text" formControlName="correo" name="" />
                            </div>
                            <div class="errorTag" *ngIf="fOrquesta.correo.errors?.required && (fOrquesta.correo.touched || fOrquesta.correo.dirty)">Este campo es requerido</div>
                            <div class="errorTag" *ngIf="fOrquesta.correo.errors?.email && (fOrquesta.correo.touched || fOrquesta.correo.dirty)">Por favor ingrese un correo válido</div>

                            <div class="formDescripcion">
                                <label for="">Descripción</label>
                                <textarea rows="6" type="text" formControlName="descripcion" name=""></textarea>
                            </div>
                            <div class="errorTag" *ngIf="fOrquesta.descripcion.errors?.required && (fOrquesta.descripcion.touched || fOrquesta.descripcion.dirty)">Este campo es requerido</div>

                            <div class="formInput">
                                <label for="">Pagina Web</label>
                                <input class="lInput" type="text" formControlName="paginaWeb" name="" />
                            </div>
                            <div class="errorTag" *ngIf="fOrquesta.paginaWeb.errors?.required && (fOrquesta.paginaWeb.touched || fOrquesta.paginaWeb.dirty)">Este campo es requerido</div>
                            <button type="button" class="formButton" (click)="toggleInfo()">
                                <p>Siguiente</p>
                            </button>                        
                        </div>
                </form>

                <form id="info" *ngIf="isInfo" [formGroup]="registroInfo">
                    <div class="formContent">
                        <div class="formInput">
                            <label for="">Estilos de música</label>
                            <select class="lInput" name="" formControlName="generos">
                                    <option *ngFor="let genero of generos">{{genero}}</option>
                                    </select>
                                </div>
                        <div class="formImagenes">
                                <br />
                                <h3>Fotos</h3>
                                <div class="formFiles">
                                    <div class="formFile">
                                        <label for="documento1"></label>
                                        <input type="file" formControlName="imagen1" id="imagen1" (change)="fileProgress($event, 'imagen1')" />
                                        <span class="fileName" *ngIf="fileName1">{{fileName1}}</span>
                  </div>
                  <div class="formFile">
                    <label for="imagen2"></label>
                    <input
                      type="file"
                      formControlName="imagen2"
                      id="imagen2"
                      (change)="fileProgress($event, 'imagen2')"
                    />
                    <span class="fileName" *ngIf="fileName2"
                      >{{fileName2}}</span
                    >
                  </div>
                  <div class="formFile">
                    <label for="imagen3"></label>
                    <input
                      type="file"
                      formControlName="imagen3"
                      id="imagen3"
                      (change)="fileProgress($event, 'imagen3')"
                    />
                    <span class="fileName" *ngIf="fileName3"
                      >{{fileName3}}</span
                    >
                  </div>
                </div>
              </div>
              <div class="linksBox">
                    <p class="linkTitle">Agregar link de música</p>
                    <div class="linksList">
                        <div class="linkListTitle">
                                Agregar link de música de Soundcloud <span class="addLink" (click)="addSoundcloud()">+</span>
                        </div>
                        <div class="arrayBox" *ngFor="let sound of soundLinks.controls;">
                            <ng-container class="controlBox" [formGroup]="sound">
                                <div class="formInput">
                                    <label for="">Nombre de Canción</label>
                                    <input class="lInput" type="text" formControlName="nombre" name="" />
                                </div>
                                <div class="formInput">
                                    <label for="">Link de Canción</label>
                                    <input class="lInput" type="text" formControlName="link" name="" />
                                </div>
                            </ng-container>
                        </div>
<!--                         <div class="formInput">
                                <label for="">Nombre de Canción</label>
                                <input class="lInput" type="text" formControlName="soundNombres" name="" />
                            </div>
                            <div class="formInput">
                                <label for="">Link de Canción</label>
                                <input class="lInput" type="text" formControlName="soundLinks" name="" />
                            </div>
 -->        
                    </div>
                    <div class="linksList">
                        <div class="linkListTitle">
                                Agregar link de música de Youtube <span class="addLink" (click)="addYoutube()">+</span>
                        </div>
                        <div class="arrayBox" *ngFor="let you of youLinks.controls;">
                            <ng-container class="controlBox" [formGroup]="you">
                                <div class="formInput">
                                    <label for="">Nombre de Canción</label>
                                    <input class="lInput" type="text" formControlName="nombre" name="" />
                                </div>
                                <div class="formInput">
                                    <label for="">Link de Canción</label>
                                    <input class="lInput" type="text" formControlName="link" name="" />
                                </div>
                            </ng-container>
                        </div>


<!--                         <div class="formInput">
                                <label for="">Nombre de Canción</label>
                                <input class="lInput" type="text" formControlName="youNombres" name="" />
                            </div>
                            <div class="formInput">
                                <label for="">Link de Canción</label>
                                <input class="lInput" type="text" formControlName="youLinks" name="" />
                            </div> -->
                    </div>
                </div>
                        <button type="button" class="formButton" *ngIf="isRegistrar" (click)="endRegistro()">
                                    <p>Guardar información</p>
                                </button>
                        <button type="button" class="formButton" *ngIf="isEditar" (click)="editarElemento()">
                                    <p>Guardar información</p>
                                </button>
                            </div>
                </form>

                </div>
            </div>
        </div>
</ion-content>