<form [formGroup]="registroUser">
    <div class="formContent">
        <div class="formInput">
            <label for="">Nombre</label>
            <input class="lInput" type="text" formControlName="nombre" name="nombre" />
        </div>
        <div class="errorTag" *ngIf="fUser.nombre.errors?.required && (fUser.nombre.touched || fUser.nombre.dirty)">Este campo es requerido</div>
        <div class="formInput">
            <label for="">Apellido</label>
            <input class="lInput" type="text" formControlName="apellido" name="apellido" />
        </div>
        <div class="errorTag" *ngIf="fUser.apellido.errors?.required && (fUser.apellido.touched || fUser.apellido.dirty)">Este campo es requerido</div>
        <div class="formInput">
            <label for="">Teléfono</label>
            <input class="lInput" type="text" formControlName="telefono" name="telefono" />
        </div>
        <div class="errorTag" *ngIf="fUser.telefono.errors?.required && (fUser.telefono.touched || fUser.telefono.dirty)">Este campo es requerido</div>
        <div class="formInput">
            <label for="">Correo</label>
            <input class="lInput" type="text" formControlName="correo" name="correo" />
        </div>
        <div class="errorTag" *ngIf="fUser.correo.errors?.required && (fUser.correo.touched || fUser.correo.dirty)">Este campo es requerido</div>
        <div class="errorTag" *ngIf="fUser.correo.errors?.email && (fUser.correo.touched || fUser.correo.dirty)">Por favor ingrese un correo válido</div>
        <div class="formInput">
            <label for="">Contraseña</label>
            <input class="lInput" type="password" formControlName="contrasena" name="contrasena" />
        </div>
        <div class="errorTag" *ngIf="fUser.contrasena.errors?.required && (fUser.contrasena.touched || fUser.contrasena.dirty)">Este campo es requerido</div>
        <div class="errorTag" *ngIf="fUser.contrasena.errors?.minlenght && (fUser.contrasena.touched || fUser.contrasena.dirty)">La contraseña debe contener al menos 6 carácteres</div>

        <button *ngIf="!editMode" type="button" (click)="endRegistro()" class="formButton">
            <p>Crear</p>
        </button>
        <button *ngIf="editMode" type="button" (click)="endUpdate()" class="formButton">
            <p>Actualizar perfil</p>
        </button>
    </div>
</form>