<ion-header [translucent]="true">
<!--     <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
            <img class="toolbarLogo" src="assets/MENU/LOGOPIMU.png" alt="" />
    </ion-toolbar> -->
    <app-header [title]="selectedTitle"></app-header>
</ion-header>

<ion-content>
    <div class="modBox">
        <div class="logBox" *ngIf="isBuscar">
            <img class="pageImg" src="assets/8-busqueda/busqueda.png" alt="buscador">
            <form [formGroup]="buscarArtista">
                <div class="formContent">
                    <div class="formInput nombreArtista">
                        <label for="">Nombre del Artista o de la Orquesta</label>
                        <input class="lInput" type="text" formControlName="nombre" name="" />
                    </div>
                    <div class="formInput" style="flex-wrap:nowrap;">
                        <label for="">Género Musical</label>
                        <select class="lInput" name="" formControlName="genero">
                            <option></option>
                            <option *ngFor="let genero of generos" value="{{genero.id}}">{{genero.nombre}}</option>
                        </select>
                    </div>
                </div>
                <button type="button" class="formButton" (click)="abrirResultados()">
                <p>BUSCAR</p>
                </button>
            </form>
        </div>
        <div class="logBox" *ngIf="isResultados">
            <img class="pageImg" src="assets/9-resultado busqueda/resultados.png" alt="buscador">
            <div class="cardBox" *ngFor="let artista of artistas">
                <div class="imgBox">
                    <img class="imgResultados" style="height: 100px;width: 100px;" src="{{url + 'fotos/' + foto }}" alt="" />
                </div>
                <div class="infoBox">
                    <p>NOMBRE AGRUPACIÓN</p>
                    <p>{{artista.nombre_artistico}}</p>
                    <p>CATEGORÍAS</p>
                    <p>{{artista.categorias}}</p>
                </div>
                <div class="moreBox">
                    <button type="button" class="formButton" (click)="mostrarArtista(artista.id)">
                    <p>VER MÁS</p>
                    </button>
                    <app-rating [rating]="artista.rating"> </app-rating>
                </div>
            </div>
        </div>
        <div class="logBox" *ngIf="isVer">
            <div class="pageBox" [ngClass]="hideBox">
                <div class="backBox">
                    <img src="assets/10-perfil artista/atras.png" alt="" (click)="mostrarResultados()" />
                </div>
                <div class="imgList">
                    <div class="arrowBox">
                        <img class="imgArrow" src="assets/10-perfil artista/izq.png" alt="" *ngIf="!isStartOfList"
                            (click)="prev()" />
                    </div>
                    <img class="artistaImg" [src]="currentImage" alt="" />
                    <div class="arrowBox">
                        <img class="imgArrow" src="assets/10-perfil artista/der.png" alt="" *ngIf="!isEndOfList" (click)="next()" />
                    </div>
                </div>
                <div class="verBox">
                    <div class="detailsABox">
                        <div class="detailBox">
                            <p class="detailTitle">Nombre</p>
                            <p class="detailContent">{{artistaEscogido.nombre_artistico}}</p>
                        </div>
                        <div class="detailBox">
                            <p class="detailTitle">Ciudad de Origen: </p>
                            <p class="detailContent">{{artistaEscogido.ciudad_origen}}</p>
                        </div>
                        <div class="detailBox">
                            <p class="detailTitle">Géneros</p>
                            <p class="detailContent">{{artistaEscogido.estilo_musica}}</p>
                        </div>
                        <div class="detailRatingBox">
                            <div class="detailStarsBox">
                                <app-rating [rating]="artistaEscogido.rating"> </app-rating>
                            </div>
                        </div>
                    </div>
                    <div class="detailsBBox">
                        <p class="detailTitle">DESCRIPCIÓN</p>
                        <p>{{artistaEscogido.descripcion}}</p>
                        <p class="detailTitle">REPRESENTANTE: <span class="detailContent">{{artistaEscogido.nombre_representante}}</span>
                        </p>
                        <p class="detailTitle">INTEGRANTES: <span class="detailContent">{{artistaEscogido.num_integrantes}}</span></p>
                        <p class="detailTitle">Salen de la ciudad: <span class="detailContent">{{artistaEscogido.dispuesto_salir}}</span></p>
                    </div>
                    <div class="detailsDBox">
                        <div class="musicItem">
                            <img src="assets/10-perfil artista/video.png" alt="video" (click)="mostrarVideos()" />
                        </div>
                        <div class="musicItem">
                            <img src="assets/10-perfil artista/musica.png" alt="musica" (click)="mostrarCanciones()" />
                        </div>
                        <div class="musicItem">
                            <img src="assets/adicionales/agrgarfavori.png" alt="favorito" (click)="agregarFavorito()" />
                        </div>
                    </div>
                    <div class="detailsCBox">
                        <p style="width: 100%; text-align: center; font-size: 16px;">CONTACTO</p>
                        <div class="contactItem">
                            <img src="assets/10-perfil artista/tele.png" alt="telefono" />
                            <p class="detailContent">{{artistaEscogido.telefono}}</p>
                        </div>
                        <div class="contactItem">
                            <img src="assets/10-perfil artista/correo.png" alt="correo" />
                            <p class="detailContent">{{artistaEscogido.correo}}</p>
                        </div>
                        <div class="contactItem" *ngIf="artistaEscogido.facebook">
                            <img src="assets/10-perfil artista/facebbok.png" alt="facebook" />
                            <p class="detailContent">{{artistaEscogido.facebook}}</p>
                        </div>
                        <div class="contactItem" *ngIf="artistaEscogido.instagram">
                            <img src="assets/10-perfil artista/instagram.png" alt="instagram" />
                            <p class="detailContent">{{artistaEscogido.instagram}}</p>
                        </div>
                    </div>
                </div>
                <div class="ratingBox">
                    <p>CALIFICA QUE TE PARECIÓ:</p>
                    <div class="starsBox">
                        <app-rating [rating]="-1"> </app-rating>
                    </div>
                </div>
            </div>
            
            <div class="logBox" *ngIf="isVideos">
                <app-videos style="width: 100%;" [videos]="artistaEscogido.youtube" (verCanciones)="mostrarCanciones()"
                    (volver)="mostrarPerfil()"></app-videos>
            </div>
            <div class="logBox" *ngIf="isCanciones">
                <app-canciones style="width: 100%;" [canciones]="artistaEscogido.soundcloud" (verVideos)="mostrarVideos()"
                    (volver)="mostrarPerfil()"></app-canciones>
            </div>
        </div>
    </div>
    
</ion-content>