<ion-header [translucent]="true">
    <app-header [title]="selectedTitle"></app-header>
</ion-header>

<ion-content>
  <div class="modBox">
        <div class="logBox">
            <div class="listaFilter">
                <img class="pageImg" src="assets/4- lista de usuarios/lista usuarios.png" alt="musica">
                <form [formGroup]="buscarUsuario">
                  <div class="formContent">
                    <div class="formInput">
                      <label for="">Nombre</label>
                      <input
                        class="lInput"
                        type="text"
                        formControlName="nombre"
                        name=""
                      />
                    </div>
                    <div class="formInput">
                      <label for="">Apellido</label>
                      <input
                        class="lInput"
                        type="text"
                        formControlName="apellido"
                        name=""
                      />
                    </div>
                    <div class="formInput">
                      <label for="">Correo</label>
                      <input
                        class="lInput"
                        type="text"
                        formControlName="correo"
                        name=""
                      />
                    </div>
  
                    <button type="button" class="formButton" (click)="getUsers()">
                      <p>FILTRAR</p>
                    </button>
                  </div>
                </form>
                <div class="listBox">
                  <div class="titleRow">
                    
                    <p>ID</p>
                    <p>NOMBRE</p>
                    <p>APELLIDO</p>
                    <p>CORREO</p>
                    <p>TELEFONO</p>
                    <p style="width: 250px;">ACCION</p>
                  </div>
                  <div class="contentRow" *ngFor="let user of usuarios;let i = index">
                    <div>
                      <p>{{user.id}}</p>
                    </div>
                    <div>
                      <p>{{user.nombre}}</p>
                    </div>
                    <div>
                      <p>{{user.apellido}}</p>
                    </div>
                    <div>
                      <p>{{user.correo}}</p>
                    </div>
                    <div>
                      <p>{{user.telefono}}</p>
                    </div>
                    <div style="width: 250px;"  class="actionBox">
                      <button
                        style="background-color: orange"
                        type="button"
                        class="actionButton"
                        (click)="editarElemento(user.id)"
                      >
                        <p>EDITAR</p>
                      </button>
                      <button
                        style="background-color: green"
                        type="button"
                        class="actionButton"
                        (click)="editarElemento($event, i)"
                        >
                        <p>HABILITAR</p>
                      </button>
                      <button
                        style="background-color: red"
                        type="button"
                        class="actionButton"
                        (click)="habilitarElemento($event)"
                      >
                        <p>DESHABILITAR</p>
                      </button>
                    </div>
                    
                  </div>
                </div>
          </div>
         </div>
  </div>
</ion-content>