<ion-header [translucent]="true">
    <app-header></app-header>
</ion-header>

<ion-content>
        <div class="logBox">
            <div style="width: 100%;">
                <img class="pageImg" src="assets/13-musica/cancio.png" alt="musica">
            </div>
            <app-lista [fields]="fields" [values]="usuarios" [isHabilitar]="true" (habilitar)="habilitarUsuario($event)" (eliminar)="eliminarUsuario($event)"  (editar)="editarUsuarios($event)" style="width: 100%;"></app-lista>
        </div>
</ion-content>