<ion-header [translucent]="true">
    <app-header [title]="selectedTitle"></app-header>
</ion-header>

<ion-content>
    <div class="modBox">
        <div class="logBox">
            <div class="listaFilter">
                <img class="pageImg" src="assets/10- lista de genros/lista de genros.png" alt="musica">
                <form [formGroup]="buscarGenero">
                    <div class="formContent">
                    <div class="formInput">
                        <label for="">Nombre del Género</label>
                        <input
                        class="lInput"
                        type="text"
                        formControlName="nombre"
                        name=""
                        />
                    </div>

                    <button type="button" class="formButton" (click)="filtrarGenero()">
                        <p>FILTRAR</p>
                    </button>
                    </div>
                </form>
                <div class="listBox">
                    <div class="titleRow">
                      
                      <p>ID</p>
                      <p>NOMBRE</p>
                      <p style="width: 250px;">ACCION</p>
                    </div>
                    <div class="contentRow" *ngFor="let genero of generos;let i = index">
                      <div>
                        <p>{{genero.id}}</p>
                      </div>
                      <div>
                        <p>{{genero.nombre}}</p>
                      </div>
                      <div style="width: 250px;"  class="actionBox">
                        <button
                          style="background-color: orange"
                          type="button"
                          class="actionButton"
                          (click)="editarElemento(genero.id)"
                        >
                          <p>EDITAR</p>
                        </button>
                        <button
                          style="background-color: red"
                          type="button"
                          class="actionButton"
                          (click)="eliminarGenero(genero.id)"
                        >
                          <p>Eliminar</p>
                        </button>
                      </div>
                      
                    </div>
                  </div>
            </div>
        </div>
    </div>
</ion-content>