<nav id="cisNav" class="navBox">
    <ul class="navList">
        <div class="listBox" *ngFor="let item of myMenu;">
            <li [id]="item.id" class="navElement opt" (click)="tMenu($event, item)">
                <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="item.link">
                    <img [src]="item.icon" class="menuIcon" />{{item.name}}
                </a>
            </li>
            <ul class="navList">
                <div class="lBox" [ngClass]="item.class" *ngFor="let child of item.childs;">
                    <li [id]=" child.id " class="navChild ">
                        <a [routerLinkActive]="[ 'active'] " [routerLinkActiveOptions]="{exact:true} " [routerLink]="child.link ">
                            <img [src]="item.icon" class="menuIcon" />{{child.name}}
                        </a>
                    </li>
                </div>
            </ul>
        </div>
    </ul>
</nav>