
    <div class="backBox">
        <img src="assets/10-perfil artista/atras.png" alt="" (click)="mostrarResultados()" />
    </div>
    <div class="imgList">
        <div class="arrowBox">
            <img class="imgArrow" src="assets/10-perfil artista/izq.png" alt="" *ngIf="!isStartOfList" (click)="prev()"/>
        </div>
        <img class="artistaImg" [src]="currentImage" alt="" />
        <div class="arrowBox">
            <img class="imgArrow" src="assets/10-perfil artista/der.png" alt="" *ngIf="!isEndOfList" (click)="next()"/>
        </div>
    </div>
    <div class="verBox">
        <div class="detailsABox">
            <p>Nombre</p>
            <p>{{artistaEscogido.nombre}}</p>
            <p>Géneros</p>
            <p>{{artistaEscogido.categorias}}</p>
            <p>Ciudad de Origen: {{artistaEscogido.ciudad}}</p>
        <div class="starsBox">
            <app-rating [rating]="artistaEscogido.rating"> </app-rating>
        </div>
        </div>
        <div class="detailsBBox">
            <p>DESCRIPCIÓN</p>
            <p>{{artistaEscogido.descripcion}}</p>
            <p>REPRESENTANTE: {{artistaEscogido.representante}}</p>
            <p>INTEGRANTES: {{artistaEscogido.integrantes}}</p>
            <p>Salen de la ciudad: {{artistaEscogido.salen}}</p>
        </div>
        <div class="detailsCBox">
            <p style="width: 100%; text-align: center;">CONTACTO</p>
        <div class="contactItem">
            <img src="assets/10-perfil artista/tele.png" alt="telefono"/>
            <p>{{artistaEscogido.telefono}}</p>
        </div>
        <div class="contactItem">
            <img src="assets/10-perfil artista/correo.png" alt="correo"/>
            <p>{{artistaEscogido.correo}}</p>
        </div>
        <div class="contactItem">
            <img src="assets/10-perfil artista/facebbok.png" alt="facebook"/>
            <p>{{artistaEscogido.facebook}}</p>
        </div>
        <div class="contactItem">
            <img src="assets/10-perfil artista/instagram.png" alt="instagram"/>
            <p>{{artistaEscogido.instagram}}</p>
        </div>


        </div>        
        <!-- <div class="linksBox">
            <p class="linkTitle">LINKS DE MÚSICA</p>
            <div class="linksList">
                <div class="linkListTitle">
                    LINKS DE MÚSICA DE SOUNDCLOUD
                </div>
                <p class="linkName" *ngFor="let cancion of artistaEscogido.soundCanciones">
                    {{cancion.nombre}}: {{cancion.link}}
                </p>
            </div>
            <div class="linksList">
                <div class="linkListTitle">
                    LINKS DE MÚSICA DE YOUTUBE
                </div>
                <p class="linkName" *ngFor="let cancion of artistaEscogido.youCanciones">
                    {{cancion.nombre}}: {{cancion.link}}
                </p>
            </div>
        </div> -->
    </div>
    <div class="ratingBox">
        <p>CALIFICA QUE TE PARECIÓ:</p>
        <div class="starsBox">
            <app-rating [rating]="-1"> </app-rating>
        </div>
    </div>