<ion-header [translucent]="true">
    <app-header></app-header>
</ion-header>

<ion-content>
    <div class="pageBox">
        <div class="logBox">
            <div class="logoBox">
                <img class="pageImg" src="assets/LOGIN/LOGO.png" alt="Logo" />
            </div>
            <div class="formBox">
                <div class="textBanner">
                    <p>Restablece tu Contraseña</p>
                </div>            
                <form [formGroup]="restorePassword" (ngSubmit)="restorePass()">
                    <div class="formContent">
                        <div class="formInput">
                            <input class="lInput" type="text" placeholder="Correo electrónico" formControlName="mail" name="mail" />
                        </div>
                        <div class="errorTag" *ngIf="fRestore.mail.errors?.required && (fRestore.mail.touched || fRestore.mail.dirty)">Este campo es requerido</div>
                        <div class="errorTag" *ngIf="fRestore.mail.errors?.email && (fRestore.mail.touched || fRestore.mail.dirty)">Por favor ingrese un correo válido</div>

                        <div class="buttonBox">
                            <button type="submit" class="formButton">
                <p>Enviar</p>
              </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="confirmText" [ngClass]="showConfirm">
                <span class="loginButton" (click)="close()">X</span>
                <p>Le hemos enviado un correo electrónico para poder restablecer su contraseña</p>
            </div>
            <div class="copyright">
                <p>Copyright Alcaldia Municipal de Ibagué © PISAMI</p>
                <p>Todos los Derechos Reservados</p>
            </div>
        </div>
    </div>
</ion-content>