<ion-header [translucent]="true">
    <app-header [title]="selectedTitle"></app-header>
</ion-header>

<ion-content>
    <div class="modBox">
        <div class="logBox">
            <div class="listaFilter">
                <img class="pageImg" src="assets/14- lista politicas/politica.png" alt="musica">
                <form [formGroup]="buscarPolitica">
                    <div class="formContent">
                    <div class="formInput">
                        <label style="width: 60%; white-space: normal" for=""
                        >Nombre de Política</label
                        >
                        <input
                        class="lInput"
                        type="text"
                        formControlName="nombre"
                        name=""
                        />
                    </div>

                    <button type="button" class="formButton" (click)="filtrarPolitica()">
                        <p>FILTRAR</p>
                    </button>
                    </div>
                </form>
            </div>
            <div class="listBox">
                <div class="titleRow">
                  
                  <p>ID</p>
                  <p>NOMBRE</p>
                  <p>ARCHIVO</p>
                  <p style="width: 250px;">ACCION</p>
                </div>
                <div class="contentRow" *ngFor="let politica of politicas;let i = index">
                  <div>
                    <p>{{politica.id}}</p>
                  </div>
                  <div>
                    <p>{{politica.nombre}}</p>
                  </div>
                  <div>
                    
                    <p><a href="{{url + 'storage/politicas/' + politica.archivo }}" target="_blank">{{politica.archivo}}</a></p>
                  </div>
                  <div style="width: 250px;"  class="actionBox">
                    <button
                      style="background-color: orange"
                      type="button"
                      class="actionButton"
                      (click)="editarElemento(politica.id)"
                    >
                      <p>EDITAR</p>
                    </button>
                    <button
                      style="background-color: red"
                      type="button"
                      class="actionButton"
                      (click)="eliminarPolitica(politica.id)"
                    >
                      <p>Eliminar</p>
                    </button>
                  </div>
                  
                </div>
              </div>
        </div>
    </div>
</ion-content>