<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-header [translucent]="true">
                <app-header [title]="selectedTitle"></app-header>
            </ion-header>
            <ion-content id="adminMenu">
                <img class="closeImg" src="assets/X.png" *ngIf="!mainMenu" (click)="volverMenu()" />
                <ion-slides class="slideMenu" *ngIf="mainMenu" [options]="slideOptsOne" #slideWithNav>
                    <ion-slide *ngFor="let s of menuSlider.slidesItems">
                        <ion-list class="menuList">
                            <div *ngFor="let p of s.menuPages; let i = index">
                                <ion-item class="menuItem" (click)="changeMenu($event, i)">
                                    <img class="menuImg" [src]="p.icon" />
                                </ion-item>
                            </div>
                        </ion-list>
                    </ion-slide>
                </ion-slides>
                <ion-slides class="slideMenu" *ngIf="adminMenu" [options]="slideOptsOne" #slideWithNav>
                    <ion-slide *ngFor="let s of adminSlider.slidesItems">
                        <ion-list class="menuList">
                            <ion-menu-toggle auto-hide="false" *ngFor="let p of s.menuPages; let i = index">
                                <ion-item class="menuItem" (click)="volverMenu()" routerDirection="root"
                                    [routerLink]="[p.url]" lines="none" detail="false"
                                    [class.selected]="selectedIndex==i">
                                    <img class="menuImg" [src]="p.icon" />
                                </ion-item>
                            </ion-menu-toggle>
                        </ion-list>
                    </ion-slide>
                </ion-slides>
                <ion-slides class="slideMenu" *ngIf="configMenu" [options]="slideOptsOne" #slideWithNav>
                    <ion-slide *ngFor="let s of configSlider.slidesItems">
                        <ion-list class="menuList">
                            <ion-menu-toggle auto-hide="false" *ngFor="let p of s.menuPages; let i = index">
                                <ion-item class="menuItem" (click)="volverMenu()" routerDirection="root"
                                    [routerLink]="[p.url]" lines="none" detail="false"
                                    [class.selected]="selectedIndex==i">
                                    <img class="menuImg" [src]="p.icon" />
                                </ion-item>
                            </ion-menu-toggle>
                        </ion-list>
                    </ion-slide>
                </ion-slides>
                <ion-slides class="slideMenu" *ngIf="politicasMenu" [options]="slideOptsOne" #slideWithNav>
                    <ion-slide *ngFor="let s of politicasSlider.slidesItems">
                        <ion-list class="menuList">
                            <ion-menu-toggle auto-hide="false" *ngFor="let p of s.menuPages; let i = index">
                                <ion-item class="menuItem" (click)="volverMenu()" routerDirection="root"
                                    [routerLink]="[p.url]" lines="none" detail="false"
                                    [class.selected]="selectedIndex==i">
                                    <img class="menuImg" [src]="p.icon" />
                                </ion-item>
                            </ion-menu-toggle>
                        </ion-list>
                    </ion-slide>
                </ion-slides>

            </ion-content>

        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>