<form [formGroup]="registroPolitica">
  <div class="formContent">
    <div class="formInput">
      <label for="">Id</label>
      <input class="lInput" type="text" formControlName="id" name="" />
    </div>
    <div class="errorTag" *ngIf="fPolitica.id.errors?.required && (fPolitica.id.touched || fPolitica.id.dirty)">Este campo es requerido</div>
    <div class="formInput">
      <label class="nameLabel" for="">Nombre de la Política</label>
      <input
        class="lInput"
        type="text"
        formControlName="nombre"
        name=""
      />
    </div>
    <div class="errorTag" *ngIf="fPolitica.nombre.errors?.required && (fPolitica.nombre.touched || fPolitica.nombre.dirty)">Este campo es requerido</div>
    <div class="formDescripcion">
      <label for="">Subir PDF</label>
      <div class="fileBox">
        <img src="assets/13-crear politica/pdf.png" alt="" />
        <p class="tagText">
          Nota: Se recomienda que el archivo no supere los 2 MB de
          tamaño
        </p>
      </div>
    </div>

    <button type="button" class="formButton" *ngIf="!editMode" (click)="endRegistro()">
      <p>CREAR</p>
    </button>
                <button type="button" class="formButton" *ngIf="editMode" (click)="endRegistro()">
      <p>EDITAR</p>
    </button>
  </div>
</form>