<ion-header [translucent]="true">
    <app-header [title]="selectedTitle"></app-header>
</ion-header>

<ion-content>
    <div class="modBox">
        <div class="logBox">
            <div class="listaFilter">
                <img class="pageImg" src="assets/12-listanoti/lista.png" alt="musica">
            <form [formGroup]="buscarNotificacion">
                <div class="formContent">
                    <div class="formInput">
                        <label style="width: 60%; white-space: normal" for="">Nombre de la Notificación</label>
                        <input class="lInput" type="text" formControlName="nombre" name="" />
                    </div>

                    <button type="button" class="formButton" (click)="filtrarNotificacion()">
            <p>FILTRAR</p>
          </button>
                </div>
            </form>
            </div>
            <div class="listBox">
                <div class="titleRow">
                  
                  <p>ID</p>
                  <p>NOMBRE</p>
                  <p>Mensaje</p>
                  <p style="width: 250px;">ACCION</p>
                </div>
                <div class="contentRow" *ngFor="let notificacion of notificaciones;let i = index">
                  <div>
                    <p>{{notificacion.id}}</p>
                  </div>
                  <div>
                    <p>{{notificacion.nombre}}</p>
                  </div>
                  <div>
                    <p>{{notificacion.mensaje}}</p>
                  </div>
                  <div style="width: 250px;"  class="actionBox">
                    <button
                      style="background-color: orange"
                      type="button"
                      class="actionButton"
                      (click)="editarElemento(notificacion.id)"
                    >
                      <p>EDITAR</p>
                    </button>
                    <button
                      style="background-color: red"
                      type="button"
                      class="actionButton"
                      (click)="eliminarNotificacion(notificacion.id)"
                    >
                      <p>Eliminar</p>
                    </button>
                  </div>
                  
                </div>
              </div>
        </div>
    </div>
</ion-content>