<ion-header [translucent]="true">
<!--     <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
            <img class="toolbarLogo" src="assets/MENU/LOGOPIMU.png" alt="" />
    </ion-toolbar> -->
    <app-header></app-header>
</ion-header>

<ion-content>
    <div class="pageBox">
        <div class="logBox">
            <div class="titleBox">
                Políticas de Seguridad
            </div>
            <img src="assets/POLITICAS/DOCPDF.png" alt="" />
        </div>
    </div>
</ion-content>