<form [formGroup]="registroGenero">
  <div class="formContent">
    <div class="formInput">
      <label for="">Id</label>
      <input class="lInput" type="text" formControlName="id" name="" />
    </div>
    <div class="errorTag" *ngIf="fGenero.id.errors?.required && (fGenero.id.touched || fGenero.id.dirty)">Este campo es requerido</div>
    <div class="formInput">
      <label class="nameLabel" for="">Nombre del Género Musical</label>
      <input
        class="lInput"
        type="text"
        formControlName="nombre"
        name=""
      />
    </div>
    <div class="errorTag" *ngIf="fGenero.nombre.errors?.required && (fGenero.nombre.touched || fGenero.nombre.dirty)">Este campo es requerido</div>
    <div class="formDescripcion">
      <label for="">Descripción</label>
      <textarea
        rows="6"
        type="text"
        formControlName="descripcion"
        name=""
      ></textarea>
    </div>
    <div class="errorTag" *ngIf="fGenero.descripcion.errors?.required && (fGenero.descripcion.touched || fGenero.descripcion.dirty)">Este campo es requerido</div>

    <button type="button" class="formButton" *ngIf="!editMode" (click)="endRegistro()">
      <p>CREAR</p>
    </button>
                <button type="button" class="formButton" *ngIf="editMode" (click)="endRegistro()">
      <p>EDITAR</p>
    </button>
  </div>
</form>
