<ion-header [translucent]="true">
<!--     <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
            <img class="toolbarLogo" src="assets/MENU/LOGOPIMU.png" alt="" />
    </ion-toolbar> -->
    <app-header></app-header>
</ion-header>

<div class="logBox">
    <div style="width: 100%;">
      <img class="pageImg" src="assets/15- politicas/pdf.png" alt="politicas">

        <p class="resultadosTitle">Conoce nuestras politicas de seguridad y confidencialidad en el siguiente PDF:</p>    
        <div class="politicasBox">
          <p class="politicasTitle">
            AVISO DE TRATAMIENTO Y PROTECCION DE DATOS PERSONALES
          </p>
          <p class="politicasText">
            La protección de los datos personales está consagrada en el artículo 15 de la Constitución Política como el derecho fundamental que tienen todas las personas a conservar su intimidad personal y familiar y su buen nombre, lo mismo que conocer, actualizar y rectificar las informaciones que se hayan recogido sobre ellos en bancos de datos y en archivos de las entidades públicas y privadas.
            <br>
            <br>
            Así mismo, el artículo 17 de la Ley Estatutaria 1581 de 2012 “Régimen General de Protección de datos Personales” y el artículo 2.2.2.25.3.1. del Decreto 1074 de 2015 “Decreto Único Reglamentario del Sector Comercio Industria y Turismo”, consagró la necesidad de garantizar de forma integral la protección y el ejercicio del derecho fundamental de Habeas Data y estableció dentro de los deberes de los responsables del tratamiento de datos personales, desarrollar políticas para este derecho, de manera que incorporó los lineamientos necesarios para que los organismos públicos y privados identifiquen los roles y la tipología de datos que son objeto de protección constitucional, así mismo, dispuso las condiciones en las cuales se deben recolectar los datos personales que posteriormente serán vinculados con la administración de una base de datos.
            <br>
            <br>
            Se adicionan nuevos principios conceptos y procedimientos para el ejercicio y garantía del referido derecho en la Ley 1712 de 2014, sobre transparencia y derecho de acceso a la información pública nacional, junto con lo dispuesto en el Libro 2. Parte VIII, Título IV “Gestión de la información Clasificada y Reservada” del Decreto 1080 de 2015, el cual establece disposiciones sobre el acceso a datos personales en posesión de los sujetos obligados.
            <br>
            <br>
            Por lo anterior y con el propósito de garantizar la seguridad de la información y el fortalecimiento del Sistema Integrado de Gestión –SIGAMI, la Alcaldía de Ibagué establece en esta política los lineamientos necesarios para el tratamiento de los datos personales recolectados directamente por la entidad o trasladados por otras autoridades, en el actual contexto institucional.          
          </p>
        </div>
    </div>
</div>

