<ion-header [translucent]="true">
<!--     <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
            <img class="toolbarLogo" src="assets/MENU/LOGOPIMU.png" alt="" />
    </ion-toolbar> -->
    <app-header></app-header>
</ion-header>

<div class="logBox">
    <div style="width: 100%;">
      <img class="pageImg" src="assets/15- politicas/pdf.png" alt="politicas">

        <p class="resultadosTitle">Conoce nuestras politicas de seguridad y confidencialidad en el siguiente PDF:</p>    
        <button class="formButton">
          Ver más
        </button>
    </div>
</div>

