<ion-header [translucent]="true">
  <app-header [title]="selectedTitle"></app-header>
</ion-header>

<ion-content>
  <div class="pageBox">
    <div class="logBox">
      <div class="logoBox">
        <img src="assets/logoblanco.png" alt="Logo" />
      </div>
      <div class="welcomeBox">
        <div class="welcomeText">
          {{welcomeMsg}}
        </div>
        <div class="welcomeButton">

          <button type="button" *ngIf="!isPrimerInicio" (click)="welcomeUser()">
            <p>CONTINUAR</p>
          </button>
          <button type="button" *ngIf="isMusico && isPrimerInicio" (click)="welcomeUser()">
            <p>COMPLETAR PERFIL</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>