<ion-header [translucent]="true">
    <app-header [title]="selectedTitle"></app-header>
</ion-header>

<ion-content>

    <div class="modBox">


        <div class="logBox">
            <div class="formBox">
                <img class="pageImg" [src]="slectedImg" *ngIf="isUser" alt="Logo" />
                <app-form-usuarios [editMode]="1" [user]="selectedItem" *ngIf="isUser"></app-form-usuarios>
                <app-form-artistas [editMode]="1" [user]="selectedItem" *ngIf="isMusico"></app-form-artistas>

            </div>
        </div>     
    </div>        
</ion-content>[