<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="pageBox">
        <div class="logBox" *ngIf="isCrear">
            <div class="formBox">
                <form [formGroup]="registroPolitica">
                    <div class="formContent">
                        <div class="formInput">
                            <label for="">ID</label>
                            <input class="lInput" type="text" formControlName="id" name="" />
                        </div>
                        <div class="formInput">
                            <label class="nameLabel" for="">NOMBRE DE LA POLÍTICA</label>
                            <input class="lInput" type="text" formControlName="nombre" name="" />
                        </div>
                        <div class="formDescripcion">
                            <label for="">SUBIR PDF</label>
                            <div class="fileBox">
                                <img src="assets/CREAR POLITICA/DOCPDF.png" alt="" />
                                <p class="tagText">Nota: Se recomienda que el archivo no supere los 2 MB de tamaño</p>
                            </div>
                        </div>

                        <button type="button" class="formButton" (click)="endRegistro()">
              <p>CREAR</p>
            </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="logBox" *ngIf="isListar">
            <form [formGroup]="buscarPolitica">
                <div class="formContent">
                    <div class="formInput">
                        <label style="width: 60%; white-space: normal" for="">NOMBRE DE POLÍTICA</label>
                        <input class="lInput" type="text" formControlName="nombre" name="" />
                    </div>

                    <button type="button" class="formButton" (click)="filtrarPolitica()">
            <p>FILTRAR</p>
          </button>
                </div>
            </form>
            <div class="listBox">
                <div class="titleRow">
                    <p style="width: 108px;">ID</p>
                    <p style="width: 200px;">NOMBRE DE POLÍTICA</p>
                    <p style="width: 250px;">ACCIONES</p>
                </div>
                <div class="contentRow" *ngFor="let politica of politicas">
                    <p style="width: 108px;">{{politica.id}}</p>
                    <p style="width: 200px;">{{politica.nombre}}</p>
                    <p style="width: 250px;" class="actionBox">
                        <button style="background-color: orange" type="button" class="actionButton" (click)="editarPolitica($event, politica)">
                            <p>EDITAR</p>
                        </button>
                        <button style="background-color: red" type="button" class="actionButton" (click)="eliminarPolitica($event, politica)">
                            <p>ELIMINAR</p>
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</ion-content>